<DOCTYPE html>
    <html>
        <head>
            <title>Pipeline</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="/stylesheets/app.css">
        </head>
        <body>
            
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" 
                    <% if(currentUser) { %>
                        href="/reqs"
                    <% } else { %>
                        href="/"
                    <% } %>
                ><i class="fa fa-reply" aria-hidden="true"></i> Pipeline</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <% if(currentUser) { %>
                        <li><a href="/reqs">Reqs</a></li>
                        <li><a href="/process">In Process</a></li>
                        <li><a href="/archive">Archive</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#myModal">Todo</a></li>
                    <% } %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser) { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a><i class="fa fa-user-o" aria-hidden="true"></i> Signed in as: <%= currentUser.username %></a></li>
                        <li><a href="/logout">Log Out</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>
    </div>
    
    <% if(currentUser) { %>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Todo List</h4>
          </div>
          <div class="modal-body">
            <ul id="todoUl">
                <% user.todos.forEach(function(todo) { %>
                    <li class="todoLi" data-todoid="<%= todo._id %>"><%= todo.todo %></li>
                <% }); %>
            </ul>
            <div class="form-group">
                <input type="text" class="form-control" id="todoInput" placeholder="Enter todo">
              </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>