<% include partials/header %>


<div class="container showContainer">
    <div class="row">
        <div class="col-md-12">
          <% if(req.archive === "false") { %>
              <button data-reqid="<%= req._id %>" class="btn btn-warning btn-xs archiveReqBut">Archive Req</button>
          <% } else { %>
              <button data-reqid="<%= req._id %>" class="btn btn-info btn-xs restoreReqBut">Restore Req</button>
          <% } %>
          
          <button data-reqid="<%= req._id %>" class="btn btn-danger btn-xs delReqBut">Delete Req</button>
          <h1 contenteditable="true" id="reqRole" data-reqid="<%= req._id %>"><%= req.role %></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table id="canTable" class="table">
                <tr>
                    <th>Name</th>
                    <th>Second Contact</th>
                    <th>Third Contact</th>
                    <th>Status</th>
                </tr>
                <% req.candidates.forEach(function(candidate) { %>
                    <tr <%= (candidate.response === "in process") ? ("style=background:#c6ffc9;") : ((candidate.response === "not interested") ? ("style=background:#f5c0bd;") : ("")) %> >
                        <td><p data-reqid="<%= req._id %>" data-canid="<%= candidate._id %>" class="candidate" contenteditable="true"><%= candidate.name %></p></td>
                        <td>
                            <input data-reqid="<%= req._id %>" data-canid="<%= candidate._id %>" type="checkbox" class="check2" <%= candidate.contact2 ? "checked" : "" %> >
                        </td>
                        <td>
                            <input data-reqid="<%= req._id %>" data-canid="<%= candidate._id %>" type="checkbox" class="check3" <%= candidate.contact3 ? "checked" : "" %> >
                        </td>
                        <td>
                            <select data-reqid="<%= req._id %>" data-canid="<%= candidate._id %>" class="dropdown">
                                <option value=" " selected = true>--Select--</option>
                                <option value="not interested" <%= candidate.response === "not interested" ? "selected" : "" %>>Not Interested</option>
                                <option value="in process" <%= candidate.response === "in process" ? "selected" : "" %>>In Process</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-danger removeCan" data-reqId="<%= req._id %>" data-canId="<%= candidate._id %>"><i class="fa fa-ban" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                <% }) %>
                    <input id="canName" type="text" name="name" placeholder="name">
                    <button id="canBut" class="btn btn-xs btn-success btn-block" data-id="<%= req._id %>">Submit</button>
            </table>
        </div>
    </div>
</div>


<% include partials/footer %>